@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
	margin: 0;
	padding: 0;
	background-color: #5f2332;
}
a{
	text-decoration: none;
	color: black;
}

p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 23px;
    margin-top: 15em;
    margin-left: 39.5em;
}

.admin{
    width: 150px;
	height: 40px;
	position: absolute;
	top: 135px;
	left: 300px;
	font-size: 23px;
	font-weight: bold;
	margin-top: 13em;
	margin-left: 25em;
	border: none;
	outline: none;
	color: black;
}

.user{
    width: 150px;
	height: 40px;
	position: absolute;
	top: 135px;
	left: 300px;
	font-size: 23px;
	font-weight: bold;
	margin-top: 11em;
	margin-left: 25em;
	border: none;
	outline: none;
	color: black;
}